.album-show-cont {
  display: flex;
  justify-content: space-around;
}

.album-title-cont {
  padding-top: 30px;
  font-size: 30px;
  font-family: sans-serif;
  padding-left: 30px;
  text-align: center;
  overflow: hidden;
}

.album-title-cont h2 {
  font-size: 40px;
  font-weight: bold;
}

.album-photo-cont {
  padding-top: 40px;
  width: 25%;

}

.track-item {
  font-size: 20px;
  color: black;
  border: 1px solid black;
}
