.artist-form {
  background-color: rgb(177, 54, 171);
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: white;
}

.artist-form input {
  background-color: white;
  color: black;
}
