footer {
  position: absolute;
  background-color: rgb(235, 113, 183);
  right: 0;
  bottom: 0;
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  align-items: center;
}

.quote {
  color: rgb(222, 200, 195);
  width: 30%;
  font-size: 18px;
}

.footer-links a {
  color: white;
  font-size: 18px;
  margin: 10px;
}

.footer-links a:hover {
  color: black;
}

.player-btns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3px;
}

.player-title {
  text-align: center;
  margin-bottom: 3px;
}

.progress {
  display: flex;
  align-items: center;
  padding: 2px;
}
