// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
label {
  background-color: orange;
}

.ReactModal__Body--open {
    overflow: hidden;
}

button {
  width: 100%;
  margin: 3px;
  display: block;
  align-items: center;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
