// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.session-form label {
  font-family: sans-serif;
  padding-bottom: 10px;
  padding-top: 10px;
  color: rgb(94, 176, 166);
  width: 80%;
}

.ReactModal__Body--open {
    overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.56);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 500px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;
}

.session-button-cont {
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.session-input-cont {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.session-input {
  width: 100%;
  padding: 12px 20px;
  margin: 3px;
  box-sizing: border-box;
  border: 2px solid grey;
  border-radius: 4px;
}

.session-button {
  width: 80%;
  margin: 3px;
  background-color: #4CAF50;
  border: white;
  color: white;
  padding: 12px 32px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
}

.session-button:hover {
  border-color: red;
}

.modal-head {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  border-bottom: thin dotted grey;
  color: rgb(94, 176, 166);
}
