.artist-title-cont {
  padding-top: 30px;
  font-size: 30px;
  font-family: sans-serif;
  padding-left: 30px;
  text-align: center;
  overflow: hidden;
  text-transform: capitalize;
  width: 60%;
  height: 60%;
}

.artist-title-cont h2 {
  font-size: 40px;
  font-weight: bold;
}

* {
  min-height: 0;
  min-width: 0;
}

.artist-title-cont {
  display: inline-block;
}

.album-grid {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  height: 320px;
  background-color: rgb(210, 156, 208);
  border-radius: 4px;
  margin-top: 8px;
  max-height: 500px;
}

.empty-album-grid {
  display: flex;
  overflow: auto;
  height: 80%;
  background-color: rgb(210, 156, 208);
  border-radius: 4px;
  color: white;
  margin-top: 8px;
  text-align: center;

}

.album-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-bottom: 8px;
  margin-top: 8px;
}

.album-bundle {
  display: inline-block;
  text-align: center;
  margin: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 30%;
  height: 30%;
}

.artist-photo {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.artist-photo-cont {
  height: 100%;
  width: auto;
}

.artist-show-cont {
  display: flex;
  justify-content: space-around;
}

.photo-cont {
  position: relative;
  width: 30%;
  height: 100%;
  max-height: 500px;
  border: 1px solid pink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: rgba(168, 152, 177, 0.13);
}

.social {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  background-color: rgb(235, 113, 183);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  border-radius: 4px;
}

.artist-bio {
  height: 10%;
  width: 100%;
  margin-top: 20px;
  padding-top: 7px;
  padding-bottom: 15px;
  padding-left: 14px;
  padding-right: 14px;
  font-family: sans-serif;
  font-size: 20px;
  position: absolute;
  background-color: rgb(232, 189, 233);
  color: white;
}

.edit-button {
  padding-top: 5px;
  background-color: rgb(235, 113, 183);
  font-family: sans-serif;
  color: white;
  width: 4%;
  float: left;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.artist-bio-cont {
  max-height: 100%;
  width: 10%;

}

.edit_button:hover {
  color:rgb(9, 144, 219);
}

a i {
  margin-top: 6px;
  color: white;
  margin-bottom: 6px;
}

a i:hover {
  color: rgb(241, 164, 206);
}
