.search i {
  z-index: 0;
  position: absolute;
  top: 20px;
  left: 20px;
  color: rgb(176, 84, 137);
}

header a:hover {
  color: black;
}

header button:hover {
  color: black;
}

::-webkit-input-placeholder {
  color: pink;
  font-family: sans-serif;
}

.search {
  position: relative;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(235, 113, 183);
  color: white;
  height: 100px;
  font-size: 22px;
  font-family: sans-serif;
}

.search input {
  background-color: white;
  color: rgb(235, 113, 183);
  border: 3px solid rgb(235, 113, 183);
  height: 50%;
  border-radius: 8px;
  padding: 12px 45px;
  margin: 3px;
  box-sizing: border-box;
}

.search input:focus {
  border: 3px solid rgb(241, 192, 232);
}

.dropdownMenu {
  outline: none;
  width: 99%;
  min-height: auto;
  position: absolute;
  // top: 46px;
  // left: 210px;
  background-color: #333;
  // z-index: -1;
}

.search-img {
  width: 26px;
  height: 26px;
  padding: 5px;
}
.search-link {
    display: flex;
    justify-content: space-between;

}

.img-name-search {
    display: flex;
    justify-content: space-around;
}

.search-results-li {
  display: flex;
  justify-content: space-around;
  z-index: 100;
}

.header__link {
  padding: 12px 10px 12px;
  float: left;
}

.header__userNav {
  float: left;
  padding: 0;
}

.headerSearch__submit {
  border: 0;
  padding: 0;
  background: url(https://a-v2.sndcdn.com/assets/images/header/search-dbfe5cb.svg) 0 0 no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 20px;
  top: 15px;
}


.headerSearch {
  padding: 9px 10px 8px;
  position: relative;
  appearance: none;
}

form {
  display: block;
  margin-top: 0em;
}

.headerSearch__input {
  width: 100%;
}

.headerSearch__input {
  height: 28px;
}


.sc-list-nostyle {
  list-style: none;
  margin: 0;
}


li {
  display: list-item;
  text-align: -webkit-match-parent;
}